@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-manrope;
  font-family: "Manrope";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-secondary;
  color: "#0D0630";
}

p {
  @apply text-secondary;
  color: "#0D0630";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
